Redirect 301 /~breiniger/teaching/teachingF14/Ebook/Section2_3.lnk       http://tutorial.math.lamar.edu/Classes/Alg/LinearApps.aspx
Redirect 301 /~breiniger/teaching/teachingF14/Ebook/Section2_5_part1.lnk http://tutorial.math.lamar.edu/Classes/Alg/SolveQuadraticEqnsI.aspx
Redirect 301 /~breiniger/teaching/teachingF14/Ebook/Section2_5_part2.lnk http://tutorial.math.lamar.edu/Classes/Alg/SolveQuadraticEqnsII.aspx
Redirect 301 /~breiniger/teaching/teachingF14/Ebook/Section2_5_part3.lnk http://tutorial.math.lamar.edu/Classes/Alg/SolveQuadraticEqnSummary.aspx
Redirect 301 /~breiniger/teaching/teachingF14/Ebook/Section2_5_part4.lnk http://tutorial.math.lamar.edu/Classes/Alg/QuadraticApps.aspx
Redirect 301 /~breiniger/teaching/teachingF14/Ebook/Section3_1.lnk       http://tutorial.math.lamar.edu/Classes/Alg/Graphing.aspx
Redirect 301 /~breiniger/teaching/teachingF14/Ebook/Section3_2.lnk       http://tutorial.math.lamar.edu/Classes/Alg/Lines.aspx
Redirect 301 /~breiniger/teaching/teachingF14/Ebook/Section3_3.lnk       http://tutorial.math.lamar.edu/Classes/Alg/FunctionDefn.aspx
